.TopHeader{
    display: flex;
    justify-content: space-between;
}
.ending-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#search {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT10_r_1mul3PSfh729fyFr44ZPmN4pKtLByu0vwDDFMA&s);
    background-position:left;
    background-repeat: no-repeat;
    border-radius: 15%;
}

@media screen and (max-width: 431px) {
    .notification-image {
        height:15px;
    }
    .profile-image{
        height: 15px;
    }
    #search {
        background-size: 15px;
        text-indent: 12px;
        width: 52px;
    }
    .salutation{
        font-weight:bolder;
        font-size: 12px
    }
    .below-salutation{
        font-weight: 600;
        font-size:7px;
    }
}

@media only screen and (min-width: 431px) and (max-width: 650px){
    .salutation{
        font-weight: bold;
        font-size: 18px
    }
    .below-salutation{
        font-size:x-small;
    }
     #search {
        background-size: 15px;
        text-indent: 12px;
        width: 80px;
    }
}

@media screen and (min-width:650px){
    .salutation{
        font-weight: bold;
        font-size: 28px
    }
    .below-salutation{
        font-size:small;
    }
}

@media screen and (min-width:431px){

    .notification-image {
        height:25px;
    }
    .profile-image{
        height: 25px;
    }
    #search {
        background-size: 30px;
        text-indent: 25px;
    }
}